.hotelContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}

.hotelWrapper{
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

}
.bookNow{
    position: absolute;
    right: 0;
    top: 10px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;


}


.hotelTitle{
    font-size: 24px;
}
.hotelAddress{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.hotelDistance{
    color: #0071c2;
}
.hotelPriceHighlight{
    color: #008009;
    font-weight: 550;
}
.hotelImages{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hotelImgWrapper{
    width: 33%;
}
.hotelImg{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}



.hotelDetails{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    
}
.hotelDetailsTexts{
    flex: 3;

}
.hotelTitle{
    margin-bottom: 10px;
}
.hotelDetailsPrice{
    flex: 1;
}
.hotelDetailsPrice{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ebf3ff;
    padding: 15px;
}
.hotelDetailsPrice>h1{
    color: #555;
    font-size: 20px;
}
.hotelDetailsPrice>span{
    font-size: 14px;
}
.hotelDetailsPrice>h2{
    font-weight: 300;
    font-size: 20px;
}
.hotelDetailsPrice>button{
    border: none;
    background-color: #0071c2;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    
}

.slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.613); */
    z-index: 999;
    display: flex;
    align-items: center;
}
.sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderImg{
    width: 80%;
    height: 80vh;
}
.close{
    color: lightgray;
    position: absolute;
    right: 100px;
    top: 30px;
    font-size: 25px;
    cursor: pointer;
}
.leftarrow{
    position: absolute;
    left: 50px;
    font-size: 25px;
    cursor: pointer;
}
.rightarrow{
    position: absolute;
    right: 50px;
    font-size: 25px;
    cursor: pointer;

}
